body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 20px;
    background: var(--navfontcolor);
    overflow-x: hidden  ;
}

:root {
    --navfontcolor: #ede8f5;
    --cardbackground: #8697c4;
    --bodybackground: #1f2833;
    --fontcolor: #66fcf1;
    --secfontcolor:#51cfc8;
    --secbodybackground: #0b0c10;
    --footercolor: rgb(30, 30, 30);
    --textshadow: 6px 9px 14px #787777;

}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--navfontcolor);
}


.main {
    height: 100%;
    width: 100%;
  
    font-family: serif;
    background-color: var(--navfontcolor);
    color: var(--fontcolor);

}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bodybackground);
    box-shadow: 0px 2px 18px rgba(226, 222, 222, 0.211);
    padding: 0px 16px;
}

.logo {
    border-radius: 50%;
    cursor: pointer;

}
.home{
    color: var(--navfontcolor);
    margin: 0px;
    padding-top: 14px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}
.profile{
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    background-color: var(--navfontcolor);
}
.aboutus {
    height: 30%;
    text-align: center;
    font-size: 101px;
    text-shadow: 6px 9px 14px #787777;

    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: var(--secbodybackground);
    

}
.aboutus::selection{
    color: var(--navfontcolor);
    background-color: var(--secbodybackground);
}

.why {
    height: 40%;
    display: flex;
    justify-content: space-between;
   

    height: 80vh;

}

.why div {
    width: 50%;
    padding: 15px;
    transition: all 0.14s ease-in;
    
    

}
.why div:hover {
    scale: 1.07;
}

.why h2 {
    font-size: 56px;
    margin-left: 25px;

    margin-top: 7vh;
    font-family: serif;
    color: var(--secbodybackground);
    text-shadow: var(--textshadow);

}
.why h2::selection{
    color: var(--navfontcolor);
    background-color: var(--secbodybackground);
}

.why p {
    font-size: 25px;
    margin-left: 25px;
    margin-top: 20px;
    width: 90%;
    font-weight: 500;
   
    font-family: serif;
    color: var(--bodybackground);
}

.why img {

    height: 420px;
    width: 50%;
    border-radius: 40px;
    padding: 30px;
    transition: all 0.14s ease-in;


}
.why img:hover {
    scale: 1.07;
}

.vision {
    height: 40%;
    display: flex;
   

    height: 80vh;
}
.vision div{
    padding: 15px;
    transition: all 0.14s ease-in;
    
}
.vision div:hover{
    scale: 1.07;
}

.vision img {
    width: 50%;
    height: 420px;
    border-radius: 40px;
    padding: 30px;
    transition: all 0.14s ease-in;
}
.vision img:hover {
    scale: 1.07;
}


.vision h2 {
    margin-left: 25px;
    font-size: 56px;
    
    font-family: serif;
    color: var(--secbodybackground);
    text-shadow: var(--textshadow);

}
.vision h2::selection{
    color: var(--navfontcolor);
    background-color: var(--secbodybackground);
}

.vision p {
  
    font-size: 25px;
    width: 90%;
    margin-left: 25px;
    margin-top: -17px;

    margin-top: 20px;
    font-family: serif;
    color: var(--bodybackground);
}

.meet {
    
    font-size: 56px;
    text-align: center;
    color: var(--secbodybackground);
    text-shadow: var(--textshadow);


}
.meet::selection{
    color: var(--navfontcolor);
    background-color: var(--secbodybackground);
}

.cards {
    height: 60vh;
    margin-top: 60px;
}

.card {
    border: none;
    background-color: transparent;
}
 
.card img {
    height: 240px;
    width: 240px;
    transition: all 0.2s ease-in;
}


.card img:hover {
    scale: 1.1;
}

.card h5 {

    font-family: serif;
    color: var(--secbodybackground);
}

.card p {

    color: var(--bodybackground);
}

.extra {
    height: 30vh;
    background-color: var(--navfontcolor);
}

footer {
    
    padding: 0px;
    background-color: var(--bodybackground);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: aliceblue;
    font-family: serif;
    position: relative;
    bottom: 0px;
}
footer p{
    margin: 0;
}